@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');


body {
    background-color: #f7f7f7;
    font-family: 'Benne', serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}


/* LANDING AREA */



#landingBox {
    background-image: url('/Images/palmtreebackground.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-bottom: 10px inset #d2a954;
    box-shadow: 0 0 2rem 0 black;
    text-align: center;
    height: 100%vh;
    width: 100%;
}

.landingContainer {
    padding-bottom: 50px;
}

.mLogo {
    padding-bottom: 40px;
    width: 20%;
}

.darkSideLogo {
    padding: 50px;
    padding-bottom: 0;
    height: auto;
    width: 100%;
    max-width: 500px;
}

.logoContainer {
    margin-right: -450px;
}

.landingText {
    color:#d2a954;
    font-size: 2.8rem;
    font-weight: 800;
    padding-bottom: 20px;
    -webkit-text-stroke-width: 1.8px;
    -webkit-text-stroke-color: black;
}

.landingHeaderText {
    font-size: 4rem;
    padding: 50px 40px;
    color: antiquewhite;
}

.landingParagraphBox {
    background-color: rgba(77,77,77,0.78);
    border: 3px solid #d2a954;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 400px;
    box-shadow: 3px 3px 3px 3px rgba(26, 26, 26, 0.664);
}

.landingParagraph {
    margin: 0;
    padding: 20px 20px;
}

.landingParagraph, p {
    color: rgb(224 224 224);
    font-size: 1.5rem;
}

.row {
    margin: 0;
}


.formContainer {
    padding-top: 20%;
    margin-left: -450px;
}

.formWrapper {
    padding-top: 30px;
    margin: 0 auto;
    width: 400px;
}

.quoteForm {
    background-color: rgba(77,77,77,0.78);
    border: 3px solid #d2a954;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(26, 26, 26, 0.664);
}

.mainLandingCallButton {
    border: 3px inset black;
    border-radius: 10px;
    background-color: #d2a954;
}

.buttonText {
    font-size: 1.3rem;
    padding: 5px;
    margin: 0;
}

form h2 {
    color: rgb(224 224 224);
    padding: 10px 10px;
}

.formGroupWrapper{
    padding-bottom: 20px;
}

.form-group {
    padding-top: 10px;
}

.form-control-lg {
    background-color: rgb(224 224 224);
    border: 3px solid black;
    max-width: 300px;
}

::placeholder {
    color: black;
}


.getQuoteMainForm {
    color: #d2a954;
    font-size: 2.5rem;
    font-weight: 800;
    padding-top: 20px;
    -webkit-text-stroke-width: 1.8px;
    -webkit-text-stroke-color: black;
}




/* Services Area */

.servicesHeader {
    color:#d2a954;
    font-family:'Cinzel Decorative', cursive;
    font-weight: 900;
    font-size: 3rem;
    padding: 60px 0;
    padding-bottom: 80px;
    text-shadow: 3px 3px black;
}

.servicesOptions {
    color: #d2a954;
    font-size: 2.5rem;
    font-weight: 900;
    text-shadow: 3px 3px black;
}

.servicesImages {
    border-radius: 10px;
    border: 5px solid #a58037;
    box-shadow: .3rem .3rem .3rem .3rem rgb(49, 49, 49);
    margin-bottom: 20px;
}

.servicesParagraphs {
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 20px 100px 80px 100px;
    text-shadow: 1px 1px #d2a954;
}





/* CALL FOR QUOTE BREAK */

.quoteSection {
    background-attachment: fixed;
    background-image: url('/Images/water-drops-6357466_1920.jpg');
    height: 300px;
    width: auto;
    box-shadow: 2rem 0 2rem 0 black;
}

.callForQuoteBreak {
    margin: auto;
    position: relative;
    top: 50%;
}

.callForQuoteBreakButton {
    background-color: #303030c7;
    border: 3px solid black;
    border-radius: 10px;
    max-width: 400px;
    
}

.CallForQuoteButtonText {
    color: #d2a954;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 10px;
    padding-bottom: 0px;
    margin: 0;
    text-shadow: 3px 3px black;
}

/* TEST REVIEW SECTION */


*{
    box-sizing: border-box
  }
 
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .testimonial-card{
    min-height: 400px;
    width: 350px;
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0,0,0,.3);
    display: flex;
    flex-flow: column;
    justify-content:space-between;
   
  }
  .text{
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 1px 1px #d2a954;
    padding: 2.2em;
    line-height: 1.7em;
    position: relative;
  }
  .image{
    background-color:tomato;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 5px solid white;
    background:no-repeat center/cover url(https://images.unsplash.com/photo-1563715992566-7ad5cf5b71d3?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    display:flex;
    justify-content:center;
    
  }
  
  .footer{
    background: linear-gradient(90deg, #a3791daf 100%, #dbb871 100%) ;
    height: 140px;
    border: solid 2px black;
    border-radius: 0 0 10px 10px;
    position:relative;
    
  }
  
  .quote{
    font-size: 400%;
    float: right;
    opacity: .1;
    transform: rotate(10deg) translate(-10px, -40px);
    color:#4D3FA3;
  }
  
  .person{
    color: #d2a954;
    font-size: 2rem;
    font-weight: 900;
    text-shadow: 2px 2px black;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -100%);
  }



/* REVIEW SECTION */

.reviewsSection {
    padding-bottom: 100px;
}

.reviewsHeaderText {
    color: #d2a954;
    font-family:'Cinzel Decorative', cursive;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 80px;
    padding-bottom: 40px;
    text-shadow: 3px 3px black;
}

.fa-arrow-left, .fa-arrow-right {
    color: #d2a954;
}

.fa-arrow-left:hover {
    color: #a58037;
}

.btn {
    background-color: #a58037;
    border-color: black;
    color: #d2a954;
    max-width: 80px;
    margin: 40px 40px 40px 0px;
}

.btn:hover {
 background-color: black;   
 border-color: #a58037;
}

.reviewCard {
    background-color: rgba(231, 231, 231, 0.384);
    border: 3px solid #a58037;
    border-radius: 30% 30% 30% 30%;
    box-shadow: 5px 5px 5px 5px rgb(14, 14, 14);
    padding: 10px;
    max-width: 600px;
    margin: 0;
}

.reviewImage {
    border-radius: 40% 40% 40% 40%;
    margin: auto;
    padding: 20px;
    height: 250px;
    width: 250px;
}

.carousel-inner {
    padding: 30px;
}

.reviewName {
    color: #d2a954;
    text-decoration: underline;
    font-size: 2rem;
    font-weight: 900;
    text-shadow: 3px 3px black;
}

.card-text {
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 20px 40px 20px 40px;
    text-shadow: 1px 1px #d2a954;
}






/* CALL FOR QUOTE BREAK */


/* MAP CALL TO ACTION */


.connectHeaderText {
    color: #d2a954;
    font-family:'Cinzel Decorative', cursive;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 100px;
    padding-bottom: 80px;
    text-shadow: 3px 3px black;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-google-plus-g {
    color: #dd4b39;
}

.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

.fa-youtube {
    color: #bb0000;
}

.social .fab {
    font-size: 4em;
    padding: 0 30px;
}

.connectMapSection {
    padding: 100px 20px 100px 20px;
}

.card-cascade {
    background-color: inherit;
}

.card-body-cascade {
    height: 800px;
}

.mapContainer{
    height: 100%;
    width: 100%;
    overflow:hidden;
    position:relative;
    }

.mapContainer iframe{
    height: 100%;
    width: 100%;
    position:relative;
    }

.mapContainer {
    border-radius: 5% 5% 5% 5%;
    box-shadow: 5px 5px 5px 5px rgb(14, 14, 14);
    width: 100%;
}    

.mapHeaderText {
    font-size: 2.5rem;
    padding-top: 20px;
    color: #d2a954;
    font-weight: 900;
    text-shadow: 3px 3px black;
}

.card-cascade {
    border: none;
}

















/* Bottom Footer*/


.bottomFooter {
    background-color: #e4e4e4;
    border-top: 10px inset #d2a954;
    border-bottom: 10px inset #d2a954;
    box-shadow: black 2rem 0px 2rem 0px;
    max-height: 400px;
}

.bottomFooterText,a {
    color: white;
    font-size: 1.2rem;
    padding-top: 10px;
    text-decoration: none;
    margin: auto;
}

.footerLogoImage {
    max-width: 250px;
    padding-top: 50px;
}

.bottomFooterHours {
    padding-top: 80px;
}

.bottomFooterContactInfo {
    padding-top: 120px;
}

.connectDays {
    color: #d2a954;
    font-size: 1.6rem;
    font-weight: 900;
    text-shadow: 2px 2px black;
}

.connectHours {
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    text-shadow: 1px 1px #d2a954;
}

.connectPhone {
    color: #d2a954;
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 2px 2px black;
}

.connectAddress {
    color: #d2a954;
    font-size: 1.5rem;
    font-weight: 900;
    text-shadow: 2px 2px black;
}



.formContainerBottom {
    padding-top: 15%;
}

.formWrapperBottom {
    padding-top: 30px;
    margin: 0 auto;
    width: 400px;
}

.quoteFormBottom {
    text-shadow: 3px 3px 3px 3px rgba(26, 26, 26, 0.664);
}

.formGroupWrapperBottom {
    padding-bottom: 60px;
}

.form-group-bottom {
    padding-top: 40px;
}

.form-control-lg {
    background-color: rgb(224 224 224);
    border: 3px solid black;
    max-width: 300px;
}

::placeholder {
    color: black;
}


.getQuoteBottomForm {
    color: #d2a954;
    font-size: 2.5rem;
    font-weight: 800;
    padding-top: 20px;
    -webkit-text-stroke-width: 1.8px;
    -webkit-text-stroke-color: black;
}


    @media (max-width:1200px) {

        .logoContainer{
            margin-right: -100px;
        }

        .formContainer {
            margin-left: -100px;
            padding-top: 35%;
        }

        .servicesImages {
            max-width: 350px;
        }

        .servicesParagraphs {
            padding: 20px 50px 80px 50px;
        }

    }



    @media (max-width:992px) {

        .logoContainer{
            margin-right: -50px;
        }

        .formContainer {
            margin-left: -50px;
            padding-top: 45%;
        }

        .servicesImages {
            max-width: 300px;
        }

        .servicesParagraphs {
            padding: 20px 30px 80px 30px;
        }

    }



    @media (max-width:768px) {

        .logoContainer{
            margin-right: 0px;
        }

        .formContainer {
            margin-left: 0px;
            padding-top: 100px;
        }

        .servicesImages {
            max-width: 400px;
        }

        .servicesParagraphs {
            padding: 20px 60px 80px 60px;
        }

    }


    @media (max-width:600px) {

        .logoContainer{
            margin-right: 0px;
        }

        .formContainer {
            margin-left: 0px;
            padding-top: 100px;
        }

        .servicesImages {
            max-width: 400px;
        }

        .servicesParagraphs {
            padding: 20px 60px 80px 60px;
        }

        .testimonial-card {
            min-width: 150px;
            max-width: 160px;
        }

        .text {
            padding: 1rem;
        }

    }


    @media (max-width:420px) {

        .landingContainer {
            padding: 0;
        }

        .logoContainer{
            margin-right: 0px;
        }

        .formWrapper {
            padding-bottom: 5%;
            width: auto;
        }

        .formContainer {
            margin-left: 0px;
            padding-top: 80px;
        }

        .mLogo {
            padding-bottom: 40px;
            width: 30%;
        }

        .servicesHeader {
            font-size: 2.5rem;
        }

        .servicesOptions {
            font-size: 1.8rem;
            text-shadow: 2px 2px black;
        }

        .servicesImages {
            max-width: 350px;
        }

        .servicesParagraphs {
            font-size: 1.2rem;
            padding: 20px 60px 80px 60px;
        }

        .testimonial-card {
            min-width: 110px;
            max-width: 111px;
        }

        .text {
            padding: 1rem;
        }

        .person {
            top: 95%;
        }

        .connectMapSection {
            padding: 0;
        }

        .formWrapperBottom {
            margin: 0;
        }

    }